@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* html {
    scroll-behavior: smooth;
} */

#pre-loader {
    position: fixed;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F8F9;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 43px;
}

em {
    line-height: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
}

.jumbotron {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.jumbotron .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron .social-media-icons {
    width: auto;
    height: 100px;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ********************************************* */

.jumbotron .social-media-icons a {
    width: 3em;
    height: 3em;
    margin: 0 7px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.486);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.jumbotron .social-media-icons a:hover {
    background-color: white;
    transition: .3s;
}

.jumbotron .social-media-icons a i {
    font-size: 19px;
    transition: .3s;
    color: black;
}

.jumbotron .social-media-icons a:hover i {
    transition: .3s;
}

.Topic_1 {
    width: 100%;
    height: auto;
    padding: 40px 30px 40px;
}

.heading h1, .heading h2, .heading h3 {
    text-align: center;
    margin: 20px 0;
}

.heading p {
    text-align: center;
    margin-bottom: 50px;
}

.Topic_1, .Topic_2, .Topic_3, .Topic_4 {
    overflow: hidden;
}

.Topic_1 .container {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.Topic_1 div.content {
    padding: 20px;
}

.Topic_1 div.content div {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #B3CEE5;
    /* background-color: #242424; */
    /* color: rgba(255, 255, 255, 0.7); */
}

.Topic_1 div.content div p {
    margin-bottom: 0%;
}

.Topic_1 div.content div span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F4F8F9;
    /* background-color: #f4f8f9de; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

.Topic_1 div.content div p {
    font-size: 16px;
}

.Topic_1 em {
    font-weight: 600;
    font-size: inherit;
}

/* ********************************************* */

.getIt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #B3CEE5;
}

.getIt h4 {
    font-size: 1.7em;
    margin-right: 1.5em;
    letter-spacing: 0.5px;
}

.getIt button {
    border: none;
    outline: none;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    margin-left: 1.5em;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.getIt button:hover {
    background-color: #54627B;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.getIt button i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: transform .3s ease;
}

.getIt button:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: transform .3s ease;
}

/* ********************************************* */

footer {
    width: 100%;
    height: auto;
    color: rgba(255, 255, 255, 0.6);
     background-color: rgb(84, 98, 123);
     /* background-color: #161616; */
    padding: 50px 30px;
    font-size: 13px;
    display: flex;
}

footer h4 {
    font-size: .9em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9)
}

footer hr {
    border-color: rgba(255, 255, 255, 0.3);
}

footer > div {
    padding: 0 1.8em;
}

footer a {
    display: block;
    position: relative;
    width: 100%;
    color: rgba(255, 255, 255, 0.6); 
    transition: 0.25s;
}

footer a:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.25s;
}

footer .active {
    color: rgba(255, 255, 255, 1);
}

footer a i {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(0%, -50%);
}

footer ul {
    list-style-type: none;
    padding-inline-start: 0;
}

footer ul, footer p {
    font-size: .85em !important;
    letter-spacing: 1px;
}

footer .form-control {
    border: none;
    outline: none;
    padding: .7em;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-size: .85em;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.95);
}

footer input {
    width: 100%;
}

footer .subscribe {
    margin: 1em auto;
    padding: .7em;
    border-radius: 2px;
    /* display: flex; */
    align-items: center;
    justify-content: center; 
    color: black;
    transition: 0.5s;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.9);
}

footer .subscribe:hover {
    cursor: pointer;
    color: white;
    /* transform: scale(1.05);
    -webkit-transform: scale(1.05); */
    transform-origin: 50% 0;
    box-shadow: 0px 25px 50px -18px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    background-color: black;
    /* background-color: #414141; */
}



/*Small screen*/
@media (max-width: 576px) {
    .grid-xs-1 {
        width: 8.33%;
    }
    .grid-xs-2 {
        width: 16.66%;
    }
    .grid-xs-3 {
        width: 25%;
    }
    .grid-xs-4 {
        width: 33.33%;
    }
    .grid-xs-5 {
        width: 41.66%;
    }
    .grid-xs-6 {
        width: 50%;
    }
    .grid-xs-7 {
        width: 58.33%;
    }
    .grid-xs-8 {
        width: 66.66%;
    }
    .grid-xs-9 {
        width: 75%;
    }
    .grid-xs-10 {
        width: 83.33%;
    }
    .grid-xs-11 {
        width: 91.66%;
    }
    .grid-xs-12 {
        width: 100%;
    }
}

/*Mobile*/
@media (min-width: 577px) and (max-width: 767px) {
    .grid-sm-1 {
        width: 8.33%;
    }
    .grid-sm-2 {
        width: 16.66%;
    }
    .grid-sm-3 {
        width: 25%;
    }
    .grid-sm-4 {
        width: 33.33%;
    }
    .grid-sm-5 {
        width: 41.66%;
    }
    .grid-sm-6 {
        width: 50%;
    }
    .grid-sm-7 {
        width: 58.33%;
    }
    .grid-sm-8 {
        width: 66.66%;
    }
    .grid-sm-9 {
        width: 75%;
    }
    .grid-sm-10 {
        width: 83.33%;
    }
    .grid-sm-11 {
        width: 91.66%;
    }
    .grid-sm-12 {
        width: 100%;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
    .grid-md-1 {
        width: 8.33%;
    }
    .grid-md-2 {
        width: 16.66%;
    }
    .grid-md-3 {
        width: 25%;
    }
    .grid-md-4 {
        width: 33.33%;
    }
    .grid-md-5 {
        width: 41.66%;
    }
    .grid-md-6 {
        width: 50%;
    }
    .grid-md-7 {
        width: 58.33%;
    }
    .grid-md-8 {
        width: 66.66%;
    }
    .grid-md-9 {
        width: 75%;
    }
    .grid-md-10 {
        width: 83.33%;
    }
    .grid-md-11 {
        width: 91.66%;
    }
    .grid-md-12 {
        width: 100%;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    .grid-lg-1 {
        width: 8.33%;
    }
    .grid-lg-2 {
        width: 16.66%;
    }
    .grid-lg-3 {
        width: 25%;
    }
    .grid-lg-4 {
        width: 33.33%;
    }
    .grid-lg-5 {
        width: 41.66%;
    }
    .grid-lg-6 {
        width: 50%;
    }
    .grid-lg-7 {
        width: 58.33%;
    }
    .grid-lg-8 {
        width: 66.66%;
    }
    .grid-lg-9 {
        width: 75%;
    }
    .grid-lg-10 {
        width: 83.33%;
    }
    .grid-lg-11 {
        width: 91.66%;
    }
    .grid-lg-12 {
        width: 100%;
    }
}

.grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5,
.grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12, 

.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5,
.grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, 

.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5,
.grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, 

.grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5,
.grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 
{
    float: left;
}

body {
    scrollbar-color: black white;
}

.desktop-view {
    display: flex !important;
}

.mobile-view {
    display: none !important;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
/* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

/*Placeholder*/
::placeholder {
    color: black;
    opacity: 0.7; /* Firefox */
    }

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}


/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width : 479px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: flex !important;
        flex-direction: column;
    }

    .jumbotron {
        height: 70vh;
    }

    .jumbotron .social-media-icons a {
        width: 3.5em;
        height: 3.5em;
    }

    .jumbotron .social-media-icons a i {
        font-size: 17px;
    }

    .Topic_1 {
        padding: 20px 20px;
    }

    .Topic_1 .container {
        flex-direction: column;
    }
 
    .Topic_1 div.content {
        padding: 15px;
    }

    .Topic_1 div.content div {
        padding: 30px;
    }

    .Topic_1 div.content div span {
        width: 35px;
        height: 35px;
        font-size: 13px;
    }

    p, div {
        line-height: 29px;
        font-size: 11px !important;
    }

    em {
        font-size: 13px;
    }

    .heading p {
        margin-bottom: 20px;
    }

    footer {
        padding: 30px 30px;
        flex-wrap: wrap;
    }

    footer > div {
        margin: 1em 0;
        flex-basis: 100%;
    }
    
    .getIt {
        padding: 2.3em;
        flex-direction: column;
    }

    .getIt h4, .getIt button {
        margin: .7em auto;
    }
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width : 599px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: flex !important;
        flex-direction: column;
    }
    
    .jumbotron {
        height: 80vh;
    }
    
    .jumbotron .social-media-icons a {
        width: 3.5em;
        height: 3.5em;
    }

    .jumbotron .social-media-icons a i {
        font-size: 19px;
    }

    .Topic_1 {
        padding: 20px 60px;
    }

    .Topic_1 .container {
        flex-direction: column;
    }

    .Topic_1 div.content div span {
        width: 37px;
        height: 37px;
        font-size: 14px;
    }

    p, div  {
        line-height: 31px;
        font-size: 12px !important;
    }

    em {
        font-size: 14px;
    }

    .heading p {
        margin-bottom: 20px;
    }

    footer {
        padding: 30px 50px;
        flex-wrap: wrap;
    }

    footer > div {
        margin: 1em 0;
        flex-basis: 100%;
    }
    
    .getIt {
        padding: 2.5em;
        flex-direction: column;
    }

    .getIt h4, .getIt button {
        margin: .7em auto;
    }
}

/* Small Devices, Tablets */
@media (min-width : 600px) and (max-width : 767px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: flex !important;
        flex-direction: column;
    }
    
    .jumbotron {
        height: 80vh;
    }
    
    .jumbotron .social-media-icons a {
        width: 3.8em;
        height: 3.8em;
    }

    .jumbotron .social-media-icons a i {
        font-size: 21px;
    }

    .Topic_1 {
        padding: 20px 60px;
    }

    .Topic_1 .container {
        flex-direction: column;
    }

    .Topic_1 div.content div span {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    p, div  {
        line-height: 31px;
        font-size: 12px !important;
    }

    em {
        font-size: 14px;
    }

    .heading p {
        margin-bottom: 20px;
    }

    footer {
        padding: 30px 50px;
        flex-wrap: wrap;
    }

    footer > div {
        margin: 1em 0;
        flex-basis: 100%;
    }

    footer input {
        width: 60%;
    }

    .getIt {
        padding: 2.7em;
        flex-direction: column;
    }

    .getIt h4, .getIt button {
        margin: .7em auto;
    }
}

@media (min-width : 768px) and (max-width : 899px) {
    .jumbotron .social-media-icons a i {
        font-size: 18px;
    }

    .Topic_1 {
        padding: 22px 22px;
    }

    .Topic_1 div.content {
        padding: 11px;
    }
    
    .Topic_1 div.content div {
        padding: 30px;
    }

    .Topic_1 div.content div span {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }

    p, div  {
        line-height: 34px;
        font-size: 13px !important;
    }

    em {
        font-size: 15px;
    }

    .heading p {
        margin-bottom: 38px;
    }
    
    footer {
        flex-wrap: wrap;
    }

    footer > div {
        flex-basis: 50%;
    }
}

/* Medium Devices, Desktops */
@media (min-width : 900px) and (max-width : 1023px) {
    .Topic_1 {
        padding: 25px 25px;
    }

    .Topic_1 div.content {
        padding: 13px;
    }
    
    .Topic_1 div.content div {
        padding: 32px;
    }

    .Topic_1 div.content div span {
        width: 47px;
        height: 47px;
        font-size: 17px;
    }

    p, div {
        line-height: 37px;
        font-size: 14px !important;
    }

    em {
        font-size: 16px;
    }

    .heading p {
        margin-bottom: 40px;
    }
    
    footer {
        flex-wrap: wrap;
    }

    footer > div {
        flex-basis: 50%;
    }
}

/* Large Devices, Wide Screens */
@media (min-width : 1024px) and (max-width : 1199px) {
    .Topic_1 {
        padding: 30px 30px;
    }

    .Topic_1 div.content {
        padding: 15px;
    }

    .Topic_1 div.content div {
        padding: 32px;
    }

    p, div {
        line-height: 41px;
        font-size: 15px !important;
    }

    em {
        font-size: 17px;
    }

    .heading p {
        margin-bottom: 45px;
    }

    footer {
        flex-wrap: wrap;
    }

    footer > div {
        flex-basis: 50%;
    }
}

@media (min-width : 1200px) {
    p, div {
        font-size: 16px;
    }

    footer ul, footer p {
        line-height: 40px;
    }
}